@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-btn {
    background: linear-gradient(149deg, #a259ff 0%, #ff6250 100%), #a259ff;
  }
  .gradient-submit {
    border-radius: 20px;
    background: linear-gradient(170deg, #a259ff 0%, #377df7 100%), #a259ff;
  }
}
